{% extends 'base.html' %}
{% load static %}
{% block content %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="col-sm">
            <a href="#" class="navbar-brand flex-grow-1" style="text-align: center ">
                &nbsp;&nbsp; Notifications
            </a>
        </div>
        <!-- Botões de notificação -->

        <div class="col-sm">
            <a href="#" class="text-light" id="btn-nav">
                <i class="fa-solid fa-bell"></i>
                <span class="pending">{{pending.count}}</span>
            </a>
            <a href="#" class="text-light" id="btn-nav">
                <i class="fa-solid fa-envelope"></i>
                <span class="total">{{total}}</span>
            </a>
        </div>
    </nav>
</header>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"> <a class="navbar-brand" href="{% url 'index' %}">
                                <h3>Home</h3>
                            </a></li>
                        <!-- <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li> -->
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{user}}</h5>
                        <p class="text-muted mb-1">{{user.tipo}}</p>
                        <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.get_full_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Veículo</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.veículo}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-lg-8">

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Servicos</th>
                            <th scope="col">veiculo</th>
                            <th scope="col">Percurso</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Time</th>
                            <th scope="col">Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for i in veiculo %}
                        {% if user.tipo == 'colaborador' %}

                        <tr>
                            <th scope="row">{{i.id}}</th>
                            <td><a href="{% url 'up_servico' i.id %}">{{i.servicos}}</a></td>
                            <td>{{i.veiculo}}</td>
                            <td>{{i.distancia}} m</td>
                            <td>{{i.valor}}</td>
                            <td>{{i.time}}</td>
                            <td>{{i.status}}</td>
                        </tr>
                        
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>





{% endblock %}