{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-sm-12 col-lg-4">
        </div>

        <div class="col-sm-12 col-lg-4 login">
            <div class="form form-control">
                <form class="form-signin" method="post" autocomplete="off">
                    {% csrf_token %}
                    <h2 class="card-title text-center">Login</h2>
                    <input type="hidden" name="next" value="{{next}}">
                    {% bootstrap_form form %}

                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    <br><br>
                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Crie sua Conta.<a href="{% url 'signup' %}">Conta</a></p>
                        <p>Quer trabalhar conosco?<a href="{% url 'colaborador' %}">Cadastre-se</a></p>
                        <p>or sign up with:</p>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="lni lni-linkedin-original"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="lni lni-github-original"></i>
                        </button>

                    </div>
                </form>

            </div>

        </div>
        <div class="col-sm-12 col-lg-4">
        </div>
    </div>
</div>

{% endblock %}
